:root {
  /* Colors */
  --primary:              #52A8B6;
  --secondary:            #DCDEE1;
  --white:                #FFFFFF;
  --blue:                 #5585B5;
  --yellow:               #F2D30C;
  --green:                #7AC1D0;
  --green-light:          #BBE4EA;
  --red:                  #F27171;
  --black:                #1D2734;
  --gray:                 #AEB4BB;
  --gray-dark:            #66717F;

  /* Typography */
  --app-font-family:      'Open Sans', Liberation Sans, DejaVu Sans, serif;
  --app-font-weight:      700;
  --app-font-size-md:     14px;

  /* Sizes */
  --app-border-radius:    4px;
  --app-size-height-md:   32px;
  --app-padding-x-md:     12px;
  --app-padding-y-md:     12px;
  --app-margin-y-md:      12px;

  /* el-toolbar */
  --el-toolbar-width:     340px;
  --el-toolbar-bg-color:  #F4F6F9;

  /* Primary button colors */
  --el-button-primary-background:               var(--primary);
  --el-button-primary-background--hover:        #4A9DAA;
  --el-button-primary-background--focus:        #5BB4C2;
  --el-button-primary-background--active:       #3D8E9B;
  --el-button-primary-background--disabled:     #DEEFF1;
  --el-button-primary-text:                     var(--white);
  --el-button-primary-text--disabled:           var(--gray);

  /* Secondary button colors */
  --el-button-secondary-background:             #F5F7F8;
  --el-button-secondary-background--hover:      #EFF2F4;
  --el-button-secondary-background--focus:      #E6ECEF;
  --el-button-secondary-background--active:     #E6ECEF;
  --el-button-secondary-background--disabled:   #F5F7F8;
  --el-button-secondary-text:                   var(--gray-dark);
  --el-button-secondary-text--disabled:         var(--gray);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--app-font-family);
  font-weight: 400;
  font-size: var(--app-font-size-md);
  color: #1D2734
}
